extends layout

block content
  h1= error.message
  h2= error.status
  h3 Woops! it looks like you are looking for something that does not exist!
    h4 
      a(href="/") ← Back to homepage
  pre= error.stack
